@media screen and (max-width: 719px) {
    .nav-links {
        display: none!important;
    }
}
.sidebar-heading span {
    font-size: 16px;
    color: #000;
}
.sidebar-group .is-sub-group .sidebar-heading {
    opacity: 1!important;
}